/* App.css */
@import "tailwindcss";

@font-face {
    font-family: satoshi;
    src: url("./assets/satoshi.ttf");
}

* {
    font-family: satoshi !important;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: #fef3e2;
}

*::-webkit-scrollbar-thumb {
    background: #fb923c;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #f97316;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #fb923c #fef3e2;
}