@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #ff5024;
    --primary-dark: #e75622;
    --primary-light: #ffefe7;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-dark: var(--primary-dark);

    --tw-dark: initial;
}

@font-face {
    font-family: satoshi;
    src: url('./assets/Satoshi-Variable.ttf');
}

* {
    font-family: satoshi;
    scrollbar-width: thin;
    scrollbar-color: #00000020 transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
}

*::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #00000020;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #00000040;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}